@use "base";

@keyframes rotate_1 {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }
}

@keyframes rotate_2 {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-30deg);
  }
}

.T,
.C,
.A,
.E,
.T3 {
  animation-name: rotate_1;
  animation-duration: 1.5s; /* Change this to the desired duration */
  animation-iteration-count: infinite; /* Change this to the desired number of iterations */
}

.I,
.T2,
.O,
.C2 {
  animation-name: rotate_2;
  animation-duration: 1.5s; /* Change this to the desired duration */
  animation-iteration-count: infinite; /* Change this to the desired number of iterations */
}

body {
  background-image: url(../img/background.png);
  background-color: #4e31aa;

  .tictactoe {
    color: #feb139;
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 10px;

    img {
      width: 100px;
      height: 100px;
    }

    // .T2 {
    //   transform: scaleX(-1);
    // }
    // .C2 {
    //   transform: rotate(340deg);
    // }
  }
}

html,
body {
  height: 100%;
}
