@use "base";

@keyframes rotate_1 {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }
}

@keyframes rotate_2 {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-30deg);
  }
}

.T,
.C,
.A,
.E,
.T3 {
  animation-name: rotate_1;
  animation-duration: 2.5s; /* Change this to the desired duration */
  animation-iteration-count: infinite; /* Change this to the desired number of iterations */
}

.I,
.T2,
.O,
.C2 {
  animation-name: rotate_2;
  animation-duration: 2s; /* Change this to the desired duration */
  animation-iteration-count: infinite; /* Change this to the desired number of iterations */
}

body {
  background-image: url(../img/background.png);
  background-color: #4e31aa;
  user-select: none;

  & > .tictactoe,
  & > #start,
  & > .difficulities {
    transform: scale(0);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  * {
    font-family: base.$font-bubble;
  }

  .tictactoe {
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 10px;
    border-radius: 15px;
    background-color: rgba($color: #4e31aa, $alpha: 0.8);
    box-shadow: 0 0 30px 45px rgba($color: #4e31aa, $alpha: 0.8);

    img {
      transition: all 0.3s ease-in-out;
      width: 100px;
      height: 100px;
    }
  }

  .startButton {
    transform: rotate(-3deg);
    background-color: #edd174;
    width: 200px;
    height: 60px;
    @include base.button-style;
  }

  #start.buttonActive {
    box-shadow: 0 0 30px 5px rgba($color: white, $alpha: 0.8);
    transform: scale(1.1);
  }
}

.greetScreen {
  & > .tictactoe,
  & > #start {
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
  }
}
.opponentScreen {
  & > .difficulities {
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (min-width: 800px) {
  .tictactoe .letter {
    img {
      width: 150px;
      height: 150px;
    }
  }
}

@media (pointer: fine) {
  .startButton {
    transition: 0.2s;
    &:hover {
      box-shadow: 0 0 30px 5px rgba($color: white, $alpha: 0.8);
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }
}
