body.greetScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tictactoe {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
  padding: 8px;

  & > span {
    align-self: center;
    justify-self: center;
  }
}

#start {
  margin: 60px;
}

@media only screen and (min-width: 800px) {
  .tictactoe {
    margin-top: 0;
    margin-top: 50px;
  }
}
