body {
  & > .startGame,
  & > .difficulities,
  & > .opponents,
  & > .shapes,
  & > .game,
  & > .win {
    transform: scale(0);
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
  }
}

.greetScreen {
  .difficulities,
  .opponents,
  & > .shapes,
  & > .game,
  & > .win {
    display: none;
  }

  .startGame {
    transform: scale(1);
    transition: 0.2s;
    opacity: 1;
    visibility: visible;
  }
}

.opponentScreen {
  & > .startGame,
  & > .difficulities,
  & > .shapes,
  & > .game,
  & > .win {
    display: none;
  }

  & > .opponents {
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
  }
}

.difficulityScreen {
  & > .startGame,
  & > .opponents,
  & > .shapes,
  & > .game,
  & > .win {
    display: none;
  }

  .difficulities {
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
  }
}

.shapeScreen {
  & > .startGame,
  & > .opponents,
  & > .difficulities,
  & > .game,
  & > .win {
    display: none;
  }

  & > .shapes {
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
  }
}

.gameScreen {
  & > .startGame,
  & > .opponents,
  & > .difficulities,
  & > .shapes,
  & > .win {
    display: none;
  }

  & > .game {
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
  }
}

.winScreen {
  & > .startGame,
  & > .opponents,
  & > .difficulities,
  & > .shapes,
  & > .game {
    display: none;
  }

  & > .win {
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
  }
}
