@font-face {
  font-family: "bubble";
  src: url(../fonts/Glowing\ Bubble.ttf);
}
@keyframes rotate_1 {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes rotate_2 {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}
.T,
.C,
.A,
.E,
.T3 {
  animation-name: rotate_1;
  animation-duration: 2.5s; /* Change this to the desired duration */
  animation-iteration-count: infinite; /* Change this to the desired number of iterations */
}

.I,
.T2,
.O,
.C2 {
  animation-name: rotate_2;
  animation-duration: 2s; /* Change this to the desired duration */
  animation-iteration-count: infinite; /* Change this to the desired number of iterations */
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

html,
body {
  height: 100%;
  color: #edd174;
}

body {
  background-image: url(../img/background.png);
  background-color: #4e31aa;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body * {
  font-family: "bubble";
}
body .tictactoe {
  font-weight: bolder;
  font-size: 50px;
  letter-spacing: 10px;
  border-radius: 15px;
  background-color: rgba(78, 49, 170, 0.8);
  box-shadow: 0 0 30px 45px rgba(78, 49, 170, 0.8);
}
body .tictactoe img {
  transition: all 0.3s ease-in-out;
  width: 100px;
  height: 100px;
}
body .startButton {
  transform: rotate(-3deg);
  background-color: #edd174;
  width: 200px;
  height: 60px;
  width: 200px;
  height: 60px;
  border: 4px solid #4e31aa;
  background-color: #edd174;
  color: #4e31aa;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 25px;
  letter-spacing: 5px;
  box-shadow: 0 0 30px 45px rgba(78, 49, 170, 0.8);
  cursor: pointer;
  transition: 0.1s;
}
body #start.buttonActive,
body .opponent.buttonActive {
  box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}

.opponentScreen .opponents {
  height: 100%;
}

.opponent {
  width: 200px;
  height: 60px;
  border: 4px solid #4e31aa;
  background-color: #edd174;
  color: #4e31aa;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 25px;
  letter-spacing: 5px;
  box-shadow: 0 0 30px 45px rgba(78, 49, 170, 0.8);
  cursor: pointer;
  transition: 0.1s;
}

@media only screen and (min-width: 800px) {
  .tictactoe .letter img {
    width: 150px;
    height: 150px;
  }
}
@media (pointer: fine) {
  .startButton,
  .opponent {
    transition: 0.2s;
  }
  .startButton:hover,
  .opponent:hover {
    box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
  }
  .startButton:active,
  .opponent:active {
    transform: scale(1.05);
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tictactoe {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
  padding: 8px;
}
.tictactoe > span {
  align-self: center;
  justify-self: center;
}

#start {
  margin: 60px;
  margin-bottom: 0;
}

.opponentScreen .opponents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.opponentScreen .opponents h2 {
  margin-top: 40px;
}
.opponentScreen .opponents .opponent:last-child {
  margin-bottom: 120px;
}

.difficulities {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media only screen and (min-width: 800px) {
  .tictactoe {
    margin-top: 0;
    margin-top: 50px;
  }
}
body > .tictactoe, body > #start, body > .difficulities, body > .opponents, body > #opponentHeader {
  transform: scale(0);
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.greetScreen > .tictactoe, .greetScreen > #start {
  transform: scale(1);
  transition: 0.2s;
  opacity: 1;
  visibility: visible;
}
.greetScreen .difficulities {
  display: none;
}

.opponentScreen > .tictactoe, .opponentScreen > #start, .opponentScreen > .difficulities {
  display: none;
}
.opponentScreen > .opponents, .opponentScreen > #opponentHeader {
  transform: scale(1);
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */